<%= form_for(:session, :url => sessions_path ) do |f| %>
	<%= f.label :email  %><br/>
	<%= f.text_field :email %><br/>
	
	<%= f.label :password %><br/>
	<%= f.password_field :password %><br/>
	
	<%= f.submit "Sign in" %> 

<% end %>

<!-- ><p>New User? <%= link_to "Sign up now!", signup_path %></p> -->
