<%= form_for(@user) do |f|%>
  <%= render 'shared/error_messages', :object => f.object %>
  <% if !@extra.nil? %>
  	this <%= @extra %></br>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  	<%= f.label :league %><br/>
	<%= 
		@leagues = League.find(:all) 
				
		options = options_from_collection_for_select(@leagues, :id,:league_name, (!@user.club_id.nil?)?Club.find(@user.club_id).league_id : nil)
	
		select_tag "league_id", options
	%></br>
  </div>
  <div class="field">
  	<%= f.label :club %><br/>
  	<%= 
  		collection_select(:user, :club_id, Club.find_all_by_league_id((!@user.club_id.nil?)?Club.find(@user.club_id).league_id : nil), :id, :club_name, options ={:prompt => ""}) 
  		
  	%>
  </div>	
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
        $("select#league_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") { 
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#user_club_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#user_club_id");
            }
            else {
                // Send the request and update sub category dropdown 
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/clubs/for_leagueid/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select 
                        $("select#user_club_id option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        $(row).appendTo("select#user_club_id");                        
                        // Fill sub category select 
                        
                        //alert (data.length);
                        $.each(data, function(i, j){
                            //alert(j.id);
                            row = "<option value=\"" + j.id + "\">" + j.club_name + "</option>";   
                            $(row).appendTo("select#user_club_id");                     
                        });             
                     }
                });
            };
        });
    });
</script>

