<h1> New Project </h1>

<%= form_for :book, :url => books_path do |f| %>

	<p>
		<label for="title">Title</label><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<label for="author">author</label><br/>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= submit_tag 'Create' %>
		<%= submit_tag 'Preview', :name => 'preview_button' %>
	</p>
<% end %>