<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= render 'layouts/stylesheets' %>    
		<%= javascript_include_tag :defaults %>
    <!--%= javascript_include_tag 'jquery.min.js', 'jquery_ujs' %-->
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="bigWrapper">
			<%= render 'layouts/header' %>
			<div id="content">
				<%= yield %>			
			</div>
			<!--div id="footer"></div-->
			<%= debug(params) if Rails.env.development? %>
			
		</div>
		
	</body>
</html>
